body {
	text-align: center;
}

span {
	font-size: 12px;
	color: red;
}

canvas {
	background: pink;
	border-radius: 20px;
}

h2 {
	color: hotpink;
	font-family: fantasy;
}

h3 {
	color: blueviolet;
	font-family: fantasy;
	font-size: 16px;
}